<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>PROJECT_ID</key><string>REPLACE_WITH_FIREBASE_PROJECT_ID</string><key>GOOGLE_APP_ID</key><string>REPLACE_WITH_FIREBASE_IOS_APP_ID</string><key>API_KEY</key><string>REPLACE_WITH_FIREBASE_API_KEY</string></dict></plist>
